#counter{
    font-size: 10rem;
    text-align: center;
    margin-top: 0px;
}

.btndiv{
    text-align: center;
}

button{
    background-color:darkturquoise;
    height: 10dvh;
    width: 100px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-in-out;
     &:hover {
        transform: scale(1.1);
        background-color: turquoise;
      }

}

.ifStatement{
    margin-top: 200px;
    text-align: center;
}