#counter{
    font-size: 10rem;
    text-align: center;
    margin-top: 0px;
}

.btndiv{
    text-align: center;
}

button{
    background-color:cadetblue;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-in-out;
     &:hover {
        transform: scale(1.1);
        background-color: turquoise;
      }

}

.ifStatement{
    margin-top: 200px;
    text-align: center;
}

#container{
    text-align: center;
    font-size: 2rem;
}
#container input{
    font-size: 1.5rem;
}
#diceImages img{
    height: 30vh;
    margin-left: 1rem;
}